{% extends "base.html" %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ super() }}
      <span class="govuk-caption-xl">GDS Circuits</span>
      <h1 class="govuk-heading-xl">GDS Circuits</h1>
      <p class="govuk-body-l">
       This is a service that helps you quickly come up with a circuits session
      </p>

      <p class="govuk-body">
       There are 3 types of circuits session
        <ul class="govuk-list govuk-list--bullet">
        <li>Two sets 12 exercises 40 </li>
        <li><a class="govuk-link" href="{{ url_for('demo.create_account') }}">Create an account</a></li>
        <li><a class="govuk-link" href="{{ url_for('demo.kitchen_sink') }}">Kitchen sink</a></li>
        <li><a class="govuk-link" href="{{ url_for('demo.conditional_reveal') }}">Conditional reveals</a></li>
      </ul>
      </p>

      <p class="govuk-body">
  <div>
        {{ script|safe }}
  {{ div|safe }}
</div>

      </p>

      <h2 class="govuk-heading-l">Example forms</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="{{ url_for('demo.bank_details') }}">Bank details</a></li>
        <li><a class="govuk-link" href="{{ url_for('demo.create_account') }}">Create an account</a></li>
        <li><a class="govuk-link" href="{{ url_for('demo.kitchen_sink') }}">Kitchen sink</a></li>
        <li><a class="govuk-link" href="{{ url_for('demo.conditional_reveal') }}">Conditional reveals</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
